target/
**/*.rs.bk
Cargo.lock
pkg/
wasm-pack.log
data/
www/

wapm_packages
python-wapm-example
go-wasi-example

quote.txt
wapm.lock

build_and_minify.sh

.appveyor.yml
.cargo-ok
.travis.yml
package.json

tests

src/utils.rs